<template>
  <div class="main-page">
    <h2>Dashboard</h2>
    <div>
      <h3>Completed Tasks</h3>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Assignee</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="task in completedTasks" :key="task.id">
            <td>{{ task.title }}</td>
            <td>{{ task.assignee }}</td>
            <td>{{ formatDate(task.due_date) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Overdue Tasks</h3>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Assignee</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="task in overdueTasks" :key="task.id">
            <td>{{ task.title }}</td>
            <td>{{ task.assignee }}</td>
            <td>{{ formatDate(task.due_date) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Assignment Pie Chart</h3>
      <div class="chart-container">
        <PieChartComponent :tasks="tasks" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import PieChartComponent from './PieChartComponent.vue';

export default {
  name: "DashboardComponent",
  components: {
    PieChartComponent
  },
  computed: {
    ...mapGetters(['tasks']),
    completedTasks() {
      return this.tasks.filter(task => task.status === 'Completed');
    },
    overdueTasks() {
      const now = new Date();
      return this.tasks.filter(task => new Date(task.due_date) < now && task.status !== 'Completed');
    }
  },
  methods: {
    formatDate(date) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      return new Date(date).toLocaleDateString(undefined, options);
    }
  }
};
</script>

<style scoped>
.main-page {
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  min-height: 100vh;
  padding: 2em;
  color: white;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  color: white;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #f9f9f9;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background: #f9f9f9;
  color: #333;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #7575ef;
  color: white;
}

td {
  background-color: #fff;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}
</style>
