<template>
  <div class="main-page">
    <h1 class="main-heading">Task Manager</h1>
    <div v-if="!isLoggedIn" class="auth-forms">
      <h2 v-if="showSignup">Signup</h2>
      <h2 v-else>Login</h2>

      <form v-if="showSignup" @submit.prevent="performSignup">
        <input v-model="signupData.username" type="text" placeholder="Username" />
        <input v-model="signupData.email" type="email" placeholder="Email" />
        <input v-model="signupData.password" type="password" placeholder="Password" />
        <button type="submit">Signup</button>
      </form>

      <form v-else @submit.prevent="performLogin">
        <input v-model="loginData.email" type="email" placeholder="Email" />
        <input v-model="loginData.password" type="password" placeholder="Password" />
        <button type="submit">Login</button>
      </form>

      <p v-if="showSignup">
        Already have an account?
        <a href="#" @click.prevent="toggleForm">Login here</a>
      </p>
      <p v-else>
        Don't have an account?
        <a href="#" @click.prevent="toggleForm">Signup here</a>
      </p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import axios from 'axios';

export default {
  name: "HomeComponent",
  data() {
    return {
      loginData: {
        email: '',
        password: ''
      },
      signupData: {
        username: '',
        email: '',
        password: ''
      },
      showSignup: true 
    };
  },
  computed: {
    ...mapGetters(['isLoggedIn'])
  },
  methods: {
    ...mapActions(['login']),
    async performLogin() {
      await this.login({
        email: this.loginData.email,
        password: this.loginData.password
      });
      this.$router.push('/dashboard');
    },
    async performSignup() {
      try {
        const response = await axios.post('http://localhost:3000/api/auth/signup', this.signupData);

        if (response.status === 201) {
          alert("User Signed Up Successfully!");
          this.toggleForm(); 
        } else {
          alert("An error occurred while signing up.");
        }
      } catch (error) {
        if (error.response.status === 400 && error.response.data.error.includes("Validation error")) {
          alert("User already has an account!");
        } else {
          console.error('Signup error:', error.response.data.error);
        }
      }
    },
    toggleForm() {
      this.showSignup = !this.showSignup;
    }
  }
};
</script>

<style scoped>
.main-page {
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.main-heading {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.auth-forms {
  max-width: 400px;
  width: 100%;
  background: #f9f9f9;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.auth-forms h2 {
  margin-bottom: 1em;
  color: #5151e5;
  text-align: center;
}

.auth-forms form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
}

.auth-forms input,
.auth-forms button {
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-forms button {
  background-color: #5151e5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-forms button:hover {
  background-color: #3e3ea3;
}

.auth-forms p {
  text-align: center;
}

.auth-forms a {
  color: #5151e5;
  cursor: pointer;
  text-decoration: underline;
}

.auth-forms a:hover {
  color: #3e3ea3;
}
</style>

