<template>
  <div>
    <PieChart :data="chartData" :options="chartOptions" />
  </div>
</template>

<script>
import { Pie } from 'vue-chartjs';
import { Chart as ChartJS, Title, Tooltip, Legend, ArcElement } from 'chart.js';

ChartJS.register(Title, Tooltip, Legend, ArcElement);

export default {
  name: 'PieChartComponent',
  components: {
    PieChart: Pie
  },
  props: {
    tasks: {
      type: Array,
      required: true
    }
  },
  computed: {
    chartData() {
      const tasksByAssignee = this.tasks.reduce((acc, task) => {
        if (task.assignee in acc) {
          acc[task.assignee]++;
        } else {
          acc[task.assignee] = 1;
        }
        return acc;
      }, {});

      const assignees = Object.keys(tasksByAssignee);
      const backgroundColors = this.generateColors(assignees.length);

      return {
        labels: assignees,
        datasets: [{
          data: Object.values(tasksByAssignee),
          backgroundColor: backgroundColors
        }]
      };
    },
    chartOptions() {
      return {
        responsive: true,
        maintainAspectRatio: false
      };
    }
  },
  methods: {
    generateColors(numColors) {
      const colors = [];
      for (let i = 0; i < numColors; i++) {
        const color = '#' + Math.floor(Math.random() * 16777215).toString(16);
        colors.push(color);
      }
      return colors;
    }
  }
};
</script>

<style scoped>
</style>
