<!-- <template>
<div>
    <h2>Tasks</h2>
    <form @submit.prevent="isEditing ? saveTask() : createTask()">
        <input v-model="newTask.title" type="text" placeholder="Title" required />
        <input v-model="newTask.summary" type="text" placeholder="Summary" required />
        <input v-model="newTask.assignee" type="text" placeholder="Assignee" required />
        <input v-model="newTask.due_date" type="date" required />
        <input v-model="newTask.status" type="text" placeholder="Status" required />
        <button type="submit">{{ isEditing ? 'Save Task' : 'Create Task' }}</button>
        <button v-if="isEditing" @click="cancelEdit">Cancel</button>
    </form>
    <ul>
        <li v-for="task in tasks" :key="task.id">
            <span>List of tasks: {{ task.title }}</span>
            <button @click="editTask(task)">Edit</button>
            <button @click="deleteTask(task.id)">Delete</button>
            <hr />
        </li>
    </ul>
</div>
</template>

<script>
    import axios from 'axios';
    import {
        mapActions,
        mapGetters
    } from 'vuex';

    export default {
        data() {
            return {
                newTask: {
                    title: '',
                    summary: '',
                    assignee: '',
                    due_date: '',
                    status: ''
                },
                isEditing: false,
                editingTaskId: null
            };
        },
        computed: {
            ...mapGetters(['tasks'])
        },
        methods: {
            ...mapActions(['fetchTasks']),
            async createTask() {
                try {
                    await axios.post('http://localhost:3000/api/tasks', this.newTask);
                    this.newTask = {
                        title: '',
                        summary: '',
                        assignee: '',
                        due_date: '',
                        status: ''
                    };
                    this.resetTaskForm();
                    this.fetchTasks();
                } catch (error) {
                    console.error('Error creating task:', error);
                }
            },
            async deleteTask(taskId) {
                try {
                    await axios.delete(`http://localhost:3000/api/tasks/${taskId}`);
                    this.fetchTasks();
                } catch (error) {
                    console.error('Error deleting task:', error);
                }
            },
            editTask(task) {
                this.newTask = {
                    ...task
                };
                this.isEditing = true;
                this.editingTaskId = task.id;
            },
            async saveTask() {
                try {
                    await axios.put(`http://localhost:3000/api/tasks/${this.editingTaskId}`, this.newTask);
                    this.resetTaskForm();
                    this.fetchTasks();
                } catch (error) {
                    console.error('Error updating task:', error);
                }
            },
            cancelEdit() {
                this.resetTaskForm();
            },
            resetTaskForm() {
                this.newTask = {
                    title: '',
                    summary: '',
                    assignee: '',
                    due_date: '',
                    status: ''
                };
                this.isEditing = false;
                this.editingTaskId = null;
            }
        },
        created() {
            this.fetchTasks();
        }
    };
</script>

<script>
<
style scoped >
    <
    /style>
    ///////////////////////////////////////////////////////////////////////////////////
    -- >
    <
    !-- < template >
    <
    div >
    <
    h2 > Tasks < /h2> <
form class = "task-form"
@submit.prevent = "isEditing ? saveTask() : createTask()" >
    <
    input v - model = "newTask.title"
type = "text"
placeholder = "Title"
required / >
    <
    input v - model = "newTask.summary"
type = "text"
placeholder = "Summary"
required / >
    <
    input v - model = "newTask.assignee"
type = "text"
placeholder = "Assignee"
required / >
    <
    input v - model = "newTask.due_date"
type = "date"
required / >
    <
    input v - model = "newTask.status"
type = "text"
placeholder = "Status"
required / >
    <
    button type = "submit" > {
        {
            isEditing ? 'Save Task' : 'Create Task'
        }
    } < /button> <
button v -
    if = "isEditing" type = "button"
@click = "cancelEdit" > Cancel < /button> < /
form > <
    ul >
    <
    li v -
    for = "task in tasks": key = "task.id" >
    <
    span > List of tasks: {
        {
            task.title
        }
    } < /span> <
div >
    <
    button @click = "editTask(task)" > Edit < /button> <
button @click = "deleteTask(task.id)" > Delete < /button> < /
div > <
    hr / >
    <
    /li> < /
ul > <
    /div> < /
template >

    import axios from 'axios';
import {
    mapActions,
    mapGetters
} from 'vuex';

export default {
    data() {
        return {
            newTask: {
                title: '',
                summary: '',
                assignee: '',
                due_date: '',
                status: ''
            },
            isEditing: false,
            editingTaskId: null
        };
    },
    computed: {
        ...mapGetters(['tasks'])
    },
    methods: {
        ...mapActions(['fetchTasks']),
        async createTask() {
            try {
                await axios.post('http://localhost:3000/api/tasks', this.newTask);
                this.newTask = {
                    title: '',
                    summary: '',
                    assignee: '',
                    due_date: '',
                    status: ''
                };
                this.resetTaskForm();
                this.fetchTasks();
            } catch (error) {
                console.error('Error creating task:', error);
            }
        },
        async deleteTask(taskId) {
            try {
                await axios.delete(`http://localhost:3000/api/tasks/${taskId}`);
                this.fetchTasks();
            } catch (error) {
                console.error('Error deleting task:', error);
            }
        },
        editTask(task) {
            this.newTask = {
                ...task
            };
            this.isEditing = true;
            this.editingTaskId = task.id;
        },
        async saveTask() {
            try {
                await axios.put(`http://localhost:3000/api/tasks/${this.editingTaskId}`, this.newTask);
                this.resetTaskForm();
                this.fetchTasks();
            } catch (error) {
                console.error('Error updating task:', error);
            }
        },
        cancelEdit() {
            this.resetTaskForm();
        },
        resetTaskForm() {
            this.newTask = {
                title: '',
                summary: '',
                assignee: '',
                due_date: '',
                status: ''
            };
            this.isEditing = false;
            this.editingTaskId = null;
        }
    },
    created() {
        this.fetchTasks();
    }
};
</script>

<script>
<
style scoped >

    .task - list {
        list - style: none;
        padding: 0;
    }

    .task - list li {
        padding: 0.5 em;
        border - bottom: 1 px solid# ccc;
    }

    .task - list span {
        display: block;
        font - weight: bold;
    }

hr {
    border: none;
    border - top: 1 px solid# ccc;
} <
/style>
////////////////////////////////////////////////////////////////////////////////
-- >

<
!-- < template >
    <
    div class = "main-page" >
    <
    h2 class = "main-heading" > Tasks < /h2> <
form class = "task-form"
@submit.prevent = "isEditing ? saveTask() : createTask()" >
    <
    input v - model = "newTask.title"
type = "text"
placeholder = "Title"
required / >
    <
    input v - model = "newTask.summary"
type = "text"
placeholder = "Summary"
required / >
    <
    input v - model = "newTask.assignee"
type = "text"
placeholder = "Assignee"
required / >
    <
    input v - model = "newTask.due_date"
type = "date"
required / >
    <
    input v - model = "newTask.status"
type = "text"
placeholder = "Status"
required / >
    <
    button type = "submit" > {
        {
            isEditing ? 'Save Task' : 'Create Task'
        }
    } < /button> <
button v -
    if = "isEditing" type = "button"
@click = "cancelEdit" > Cancel < /button> < /
form > <
    ul class = "task-list" >
    <
    li v -
    for = "task in tasks": key = "task.id" >
    <
    span > List of tasks: {
        {
            task.title
        }
    } < /span> <
div >
    <
    button @click = "editTask(task)" > Edit < /button> <
button @click = "deleteTask(task.id)" > Delete < /button> < /
div >

    <
    /li> < /
ul > <
    /div> < /
template >

    import axios from 'axios';
import {
    mapActions,
    mapGetters
} from 'vuex';

export default {
    data() {
        return {
            newTask: {
                title: '',
                summary: '',
                assignee: '',
                due_date: '',
                status: ''
            },
            isEditing: false,
            editingTaskId: null
        };
    },
    computed: {
        ...mapGetters(['tasks'])
    },
    methods: {
        ...mapActions(['fetchTasks']),
        async createTask() {
            try {
                await axios.post('http://localhost:3000/api/tasks', this.newTask);
                this.newTask = {
                    title: '',
                    summary: '',
                    assignee: '',
                    due_date: '',
                    status: ''
                };
                this.resetTaskForm();
                this.fetchTasks();
            } catch (error) {
                console.error('Error creating task:', error);
            }
        },
        async deleteTask(taskId) {
            try {
                await axios.delete(`http://localhost:3000/api/tasks/${taskId}`);
                this.fetchTasks();
            } catch (error) {
                console.error('Error deleting task:', error);
            }
        },
        editTask(task) {
            this.newTask = {
                ...task
            };
            this.isEditing = true;
            this.editingTaskId = task.id;
        },
        async saveTask() {
            try {
                await axios.put(`http://localhost:3000/api/tasks/${this.editingTaskId}`, this.newTask);
                this.resetTaskForm();
                this.fetchTasks();
            } catch (error) {
                console.error('Error updating task:', error);
            }
        },
        cancelEdit() {
            this.resetTaskForm();
        },
        resetTaskForm() {
            this.newTask = {
                title: '',
                summary: '',
                assignee: '',
                due_date: '',
                status: ''
            };
            this.isEditing = false;
            this.editingTaskId = null;
        }
    },
    created() {
        this.fetchTasks();
    }
};
</script>

<style scoped>
    .main-page {
        background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
        min-height: 100vh;
        padding: 2em;
        color: white;
    }

    .main-heading {
        text-align: center;
        margin-bottom: 1em;
        font-size: 2.0em;
        font-weight: bold;
        color: white;
    }

    .task-form {
        max-width: 400px;
        width: 100%;
        background: #f9f9f9;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: #333;
    }

    .task-form input,
    .task-form button {
        padding: 0.75em;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 1em;
    }

    .task-form button {
        background-color: #5151e5;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .task-form button:hover {
        background-color: #3e3ea3;
    }

    .task-list {
        list-style: none;
        padding: 0;
    }

    .task-list li {
        padding: 0.5em;
        border-bottom: 1px solid #ccc;
    }

    .task-list span {
        display: block;
        font-weight: bold;
    }

    .task-list button {
        background-color: #5151e5;
        color: white;
        border: none;
        padding: 0.5em 1em;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .task-list button:hover {
        background-color: #3e3ea3;
    }

    hr {
        border: none;
        border-top: 1px solid #ccc;
    }
</style>
/////////////////////////////////////////////////////////////////////////////////////////
-->
<template>
  <div class="main-page">
    <h2 class="main-heading">Tasks</h2>
    
    <v-btn @click="openCreateForm">Create Task</v-btn>
    
    <v-dialog v-model="formVisible" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ isEditing ? 'Edit Task' : 'Create Task' }}</span>
        </v-card-title>
        <v-card-text>
          <form @submit.prevent="isEditing ? saveTask() : createTask()">
            <v-text-field v-model="newTask.title" label="Title" required></v-text-field>
            <v-textarea v-model="newTask.summary" label="Summary" required></v-textarea>
            <v-select :item-props="userProps" v-model="newTask.assignee" :items="users" item-text="username" item-value="username" label="Assignee" required></v-select>
            <v-select v-model="newTask.status" :items="statuses" label="Status" required></v-select>
            <v-text-field v-model="newTask.due_date" label="Due Date" type="date" required></v-text-field>
            <v-card-actions>
              <v-btn color="blue darken-1" text @click="cancelEdit">Cancel</v-btn>
              <v-btn color="blue darken-1" text type="submit">{{ isEditing ? 'Save Task' : 'Create Task' }}</v-btn>
            </v-card-actions>
          </form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-data-table :headers="headers" :items="tasks" :loading="loading" item-value="id" class="elevation-1">
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn small @click="editTask(item)">Edit</v-btn>
        <v-btn small @click="deleteTask(item.id)">Delete</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import axios from 'axios';
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      newTask: {
        title: '',
        summary: '',
        assignee: '',
        due_date: '',
        status: ''
      },
      isEditing: false,
      editingTaskId: null,
      formVisible: false,
      headers: [
        { title: 'Title', align: 'left', value: 'title',class: 'section-dessert' },
        { title: 'Summary', value: 'summary', align: 'left' },
        { title: 'Assignee', value: 'assignee', align: 'left' },
        { title: 'Due Date', value: 'due_date', align: 'left' },
        { title: 'Status', value: 'status', align: 'left' },
        { title: 'Actions', value: 'actions', sortable: false, align: 'left' }
      ],
      statuses: ['Not Started', 'In Progress', 'Completed', 'On Hold', 'Incomplete'],
    };
  },
  computed: {
    ...mapGetters(['tasks', 'users', 'token']),
  },
  methods: {
    ...mapActions(['fetchTasks', 'fetchUsers']),
    openCreateForm() {
      this.isEditing = false;
      this.newTask = {
        title: '',
        summary: '',
        assignee: '',
        status: '',
        due_date: ''
      };
      this.formVisible = true;
    },
    async createTask() {
      try {
        const config = {
          headers: {
            Authorization: this.token
          }
        };
        await axios.post('http://localhost:3000/api/tasks', this.newTask, config);
        this.resetTaskForm();
        this.fetchTasks();
        this.formVisible = false;
      } catch (error) {
        console.error('Error creating task:', error);
      }
    },
    async deleteTask(taskId) {
      try {
        const config = {
          headers: {
            Authorization: this.token
          }
        };
        await axios.delete(`http://localhost:3000/api/tasks/${taskId}`, config);
        this.fetchTasks();
      } catch (error) {
        console.error('Error deleting task:', error);
      }
    },
    editTask(task) {
      this.newTask = { ...task };
      this.isEditing = true;
      this.editingTaskId = task.id;
      this.formVisible = true;
    },
    async saveTask() {
      try {
        const config = {
          headers: {
            Authorization: this.token
          }
        };
        await axios.put(`http://localhost:3000/api/tasks/${this.editingTaskId}`, this.newTask, config);
        this.resetTaskForm();
        this.fetchTasks();
        this.formVisible = false;
      } catch (error) {
        console.error('Error updating task:', error);
      }
    },
    cancelEdit() {
      this.resetTaskForm();
      this.formVisible = false;
    },
    resetTaskForm() {
      this.newTask = {
        title: '',
        summary: '',
        assignee: '',
        due_date: '',
        status: ''
      };
      this.isEditing = false;
      this.editingTaskId = null;
    },
    userProps(item) {
      return {
        title: item.username,
      };
    },
  },
  created() {
    this.fetchTasks();
    this.fetchUsers(); 
  }
};
</script>

<style scoped>
.main-page {
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  min-height: 100vh;
  padding: 2em;
  color: white;
}
.main-heading {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2.0em;
  font-weight: bold;
  color: white;
}
.task-form {
  max-width: 400px;
  width: 100%;
  background: #f9f9f9;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}
.task-form input,
.task-form button {
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
}
.task-form button {
  background-color: #5151e5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.task-form button:hover {
  background-color: #3e3ea3;
}
.v-data-table {
  margin-top: 2em;  
}
.v-data-table >>> .v-data-table-header {
  background-color: rgb(76, 37, 128) !important;
}
</style>
