<template>
  <div id="app">
    <nav>  
      <router-link v-if="isLoggedIn" to="/dashboard" class="nav-link">Dashboard</router-link>
      <router-link v-if="isLoggedIn" to="/tasks" class="nav-link">Tasks</router-link>
      <button @click="logout" v-if="isLoggedIn" class="logout-btn">Logout</button>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  computed: {
    ...mapGetters(['isLoggedIn'])
  },
  methods: {
    ...mapActions(['logout'])
  }
};
</script>

<style>
nav {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  background-color:#448df3;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color:#8fb7f4;
}

.logout-btn {
  border: none;
  background-color:#448df3;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto; 
}

.logout-btn:hover {
  background-color:#8fb7f4;
}
</style>
